<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- 		 <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>  -->
        <!-- 			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ba_rei</property>  -->
        <!-- 			<property name="hibernate.connection.username">root</property> <property  -->
        <!-- 			name="hibernate.connection.password">wendy1016</property>  -->

        <property name="hibernate.connection.datasource">java:comp/env/jdbc/BaRei</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- 資料庫方言的的類別全名 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- 是否在console印出sql敘述 -->
        <!--        <property name="hibernate.show_sql">true</property>-->

        <!-- 是否格式化在console印出的sql敘述 -->
        <!--        <property name="hibernate.format_sql">true</property>-->

        <!-- 是否替在console印出的sql敘述之關鍵字加上顏色 -->
        <property name="hibernate.highlight_sql">false</property>

        <mapping class="com.item.model.ItemVO" />

        <mapping class="com.itemPhotos.model.ItemPhotosVO" />

        <mapping class="com.itemType.model.ItemTypeVO" />


    </session-factory>


</hibernate-configuration>

