<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        <property name="connection.url">jdbc:mysql://localhost:3306/ba_rei</property>-->
        <!--        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <!--        <property name="connection.username">root</property>-->
        <!--        <property name="connection.password">P@ssw0rd</property>-->
        <property name="connection.datasource">java:comp/env/jdbc/hikariCP-BaRei</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="com.commodityDetails.model.entity.CommodityDetails"/>
        <mapping class="com.coupon.model.entity.Coupon"/>
        <mapping class="com.memberCoupon.model.entity.MemberCoupon"/>
        <mapping class="com.orderBuy.model.entity.OrderBuy"/>
        <mapping class="com.shopReview.model.entity.ShopReview"/>
    </session-factory>
</hibernate-configuration>
